@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Audrey&display=swap" rel="stylesheet">
    <style>
        body {
            background-image: url('/images/Carpentry Background.jpg');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            font-family: Arial, sans-serif;
            padding: 50px;
            color: #fff;
        }

        .text-center {
            text-align: center;
            font-family: Audrey, cursive;
        }

        .display-4 {
            font-size: 3.5rem;
            margin-bottom: 30px;
            color: #fff;
        }
    </style>
</head>
<body>
<div class="text-center">
    <h1 class="display-4">Welcome to KhumaloCraft Emporium</h1>
</div>
</body>
</html>